body {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background-color: rgb(205, 216, 105);
}

.clock-container {
  backdrop-filter: blur(5px);
  border: 3px solid black;
  border-radius: 15px;
  margin: auto;
  padding: 20px;
  background-color: rgb(20, 55, 75);
  transition: all 0.5s ease;
}

.clock-container:hover {
  transform: translateY(10px) scale(1.04);
  box-shadow: 10px 5px 15px rgba(8, 61, 85, 0.966);
}

.clock {
  color: rgb(255, 252, 252);
  font-size: 6rem;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  text-shadow: 3px 3px 5px rgb(31, 62, 92);
}
